@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); 
/* body{
    background-image:url(image1.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: hsla(0, 0%, 0%, 0.386);
    background-blend-mode: overlay;
} */
.converter{
   margin: auto;
  
  width: 50%;
  height: 50%;
  position: relative;
  top: 10rem;

  background: rgba(255, 255, 255, 0.13);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

justify-content: center;
align-items: center;
text-align: center;
}
.amount{
    font-size: 30px;
}
h1{
    font-size: 45px;
    margin-bottom: 10px;
}
.from{
    font-size: 30px;
}
.to{
    font-size: 30px;
}
button {
    font-size: 15px;
    color: rgb(9, 8, 8);
    margin-top: 20px;
}
input{
    width: 200px;
    height: 20px;
    margin-top: -7px;
    font-family: 'Montserrat', sans-serif;
}
#from{
    width: 200px;
    height: 25px;
    margin-left: 32px;
}
#to{
    width: 200px;
    height: 25px;
    margin-left: 65px;
}
#result{
    font-size: 20px;
}

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
}
}